.side {
  position: absolute;
  margin-top: 50px;
  z-index: 99;
}
.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -270px;
  transition: left 1s ease;
  box-shadow: 0.5px 0 0 0 white;
}
.side:hover .sidebar {
  left: 0;
}
.heading{
  padding: 10px;
  margin: 0;
  box-shadow: 0 0 0 0.5px white;
  font-weight: 200;
}
.boardlist{
   display: flex;
   justify-content: space-between;
   margin-left: 10px;
}
.plus{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  font-size: large;
}
