.side {
  position: absolute;
  margin-top: 50px;
  z-index: 99;
}
.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  left: -270px;
  transition: left 1s ease;
  box-shadow: 1px 0 0 0 white;
}
.side:hover .sidebar {
  left: 0;
}
button {
  background: none;
  border: 1.25px solid white;
  cursor: pointer;
  position: absolute;
  right: -29px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}
